Figure_2.png
Figure_1.png
BCS407_project.pdf
BCS_407_ArtificialIntelligence_NajlaAlFutaisi.docx
1.docx
Introduction_to_Modern_AI_certificate_20230004191-students-cud-ac-ae_9406f863-0f6e-4256-9fe2-d43aebd49364.pdf
videos & images used before cleaning/.venv/
runs/
*.pt
*.pth
videos/
*.mp4
*.avi
*.mov
yolo_dataset/
.venv/
